<div class="row">
  <div class="col-md-9 thumb" style="background-image: url(<%= thumbnails[0]['cdn'] %>);">&nbsp;</div>
  <div class="col-md-3 small-thumb-col">
    <div class="thumb thumb-upper-right" style="background-image: url(<%= thumbnails[1]['cdn'] %>);">&nbsp;</div>
    <div class="thumb thumb-lower-right" style="background-image: url(<%= thumbnails[2]['cdn'] %>);">&nbsp;</div>
  </div>
</div>
