.envrc
.git
.gitignore
.dockerignore
.editorconfig
.byebug_history
.overcommit.yml
.rubocop.yml
.ruby-version
.docker-compose-prod.yml
.docker-compose.yml
.start.sh
.tool-versions
yarn-error.log
Dockerfile
Makefile

# dev files that are not needed in the final docker image
docker-compose.yml
docker-compose-test-exec
docker-compose-test-run
#docker-entrypoint.sh
local_dev_init.sh
local_dev_index_init.sh
sample-records.json
sync_dev_index_to_test_index.sh

# subdirectories
log/
tmp/
docker/
coverage/
snapshots/
snapshots_test/
solr_cores/
