<div class="citation">
  <h3>MLA Format</h3>
  <span clss="citation-mla-format">
    <%= raw Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::MLA.mappings, doc: item).to_s %>
  </span>

  <h3>Chicago/Turabian Format</h3>
  <span clss="citation-chicago-format">
    <%= raw Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::Chicago.mappings, doc: item).to_s %>
  </span>
  <h3>Wikipedia Format</h3>
  <span clss="citation-wikipedia-format">
    <%= Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::Wikipedia.mappings, doc: item).to_s %>
  </span>
</div>