<div id="kaltura_player" class="kaltura-compound-player" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <span itemprop="width" content="560"></span>
  <span itemprop="height" content="315"></span>
</div>

<span id="kaltura-config" data-config="<%=
  viewer_item.config.to_json
%>">