<div class="navbar-brand">
  <span id="logo">
    <%= link_to root_path, alt: 'Home' do %>
      <%= image_tag 'blockm.svg',
                    id: 'blockm',
                    alt: "University of Minnesota"%>
    <% end %>
  </span>
  <div id="branding">
    <h2 id="libraries"><%= link_to 'Libraries', root_path, alt: 'Home'  %></h2>
    <h1 id="application"><%= link_to 'UMedia', root_path, alt: 'Home'  %></h1>
  </div>
</div>