<div class="col-sm-3">
<h3>Services</h3>
  <ul class="list-unstyled">
    <li><a href="/about">About UMedia</a></li>
    <li><a href="https://www.lib.umn.edu/digital">Digital Library Services</a></li>
    <li><a href="https://github.com/UMNLibraries/digital_collection_apis">Digital Collection APIs</a></li>
    <li><a href="https://www.lib.umn.edu/openaccess/policy">Open Access Policy</a></li>
    <li><a href="https://drive.google.com/file/d/0B01AHtagDHqxV2VGbEhsc2E1LUk/view?usp=sharing">Libraries Open Sharing Policy</a></li>
    <li><a href="https://www.lib.umn.edu/copyright">Copyright Services</a></li>
    <li><a href="https://www.lib.umn.edu/collections/special/historical-language">Statement on Historical Language</a></li>
  </ul>
</div>
<div class="col-sm-3">
  <h3>Related Services</h3>
  <ul class="list-unstyled">
    <li><a href="https://conservancy.umn.edu">Digital Conservancy</a></li>
    <li><a href="https://www.umbrasearch.org">Umbra Search</a></li>
    <li><a href="https://ojibwe.lib.umn.edu">Ojibwe People’s Dictionary</a></li>
    <li><a href="http://gallery.lib.umn.edu">Online Exhibits</a></li>
    <li><a href="https://mndigital.org">Minnesota Digital Library</a></li>
    <li><a href="https://dp.la">Digital Public Library of America</a></li>
  </ul>
</div>
<div class="col-sm-3">
  <h3>Libraries</h3>
  <ul class="list-unstyled">
    <li><a href="https://www.lib.umn.edu/about/collections">Hours</a></li>
    <li><a href="https://www.continuum.umn.edu">News & Events</a></li>
    <li><a href="https://www.lib.umn.edu/about/staff">Staff Directory</a></li>
    <li><a href="https://www.lib.umn.edu/about/selectors">Subject Librarians</a></li>
    <li><a href="https://www.lib.umn.edu/about/goals">Vision, Mission, & Goals</a></li>
  </ul>
</div>
