<div class="hidden-xs">
  <section id="site-map">
    <div class="container">
      <div class="row">
        <div id="footer-lib" class="col-xs-12">
          <div class="col-sm-10">
            <%= render 'shared/footer_links' %>
          </div>
          <div class="col-xs-12 col-sm-2">
            <a href="http://www.lib.umn.edu">
              <%= image_tag('ulib-box_@2X', title: "University Libraries", alt: "University Libraries", width: 150, height: 150)  %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>