<div class="col-sm-3">
<h3>About</h3>
  <ul class="list-unstyled">
    <li><a href="/about">About UMedia</a></li>
    <li><a href="https://www.lib.umn.edu/digital">Digital Library Services</a></li>
    <li><a href="https://www.lib.umn.edu/digital/apis">Digital Collection APIs</a></li>
    <li><a href="https://www.lib.umn.edu/contact">Contact</a></li>
  </ul>
</div>
<div class="col-sm-3">
  <h3>Related resources</h3>
  <ul class="list-unstyled">
    <li><a href="https://lib.umn.edu/collections/special">Archives and Special Collections</a></li>
    <li><a href="https://lib.umn.edu/collections#digital">Digital collections</a></li>
    <li><a href="https://dp.la">Digital Public Library of America</a></li>
    <li><a href="https://www.lib.umn.edu/services#research">Research support services</a></li>
  </ul>
</div>
