<%= render 'shared/banner' %>

<nav aria-label="Site" class="navbar navbar-expand-md navbar-dark navbar-umn-maroon" id="header-lib-nav" role="navigation">

  <%= render 'shared/brand' %>


  <div class="pull-right">
      <%= render 'shared/header_links' %>
  </div>

</nav>
