<header class="navbar navbar-static-top">
  <div id="header-lib-nav" class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= render 'shared/brand' %>
      </div>

      <div class="pull-right">
          <%= render 'shared/header_links' %>
      </div>
    </div>
  </div>
</header>