<header aria-label="Primary" role="banner">
  <a class="screen-reader-text" href="#main">Skip to main content</a>
  <!-- _umn.html -->
  <div class="row">
    <div class="col-sm-12">
      <a id="university-wordmark">
        <img src="//www.lib.umn.edu/brand/1.6.4/ui/img/umnhf/NoM-D2D-gld-wht@2x.png" alt="University of Minnesota">
      </a>
      <div class="pull-right hidden-xs">
        <ul class="list-inline pull-right">
          <li>
            <a href="https://onestop.umn.edu">
              One Stop
            </a>
          </li>
          <li>
            <a href="https://www.lib.umn.edu/#footer-site-search">
              Search Libraries Website
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- _lib.html -->
  <nav class="navbar navbar-umn-maroon" id="header-lib-nav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
          <svg class="glyph glyph-menu" viewBox="0 0 32 32"><title>Menu</title><desc>Three horizontal lines</desc><path d="M2 6h28v6H2zm0 8h28v6H2zm0 8h28v6H2z"></path></svg> Menu
        </button>
        <a class="pull-right visible-xs" href="#footer-site-search">
          <svg class="glyph glyph-search" viewBox="0 0 30 32"><title>Search</title><desc>Magnifying glass</desc><path d="M20.576 14.848q0-3.296-2.368-5.632t-5.632-2.368-5.664 2.368-2.336 5.632 2.336 5.664 5.664 2.336 5.632-2.336 2.368-5.664zm9.152 14.88q0 .928-.704 1.6t-1.6.672q-.96 0-1.6-.672l-6.112-6.112q-3.2 2.208-7.136 2.208-2.56 0-4.896-.992t-4-2.688-2.688-4T0 14.848t.992-4.864T3.68 5.952t4-2.688 4.896-.992 4.864.992 4.032 2.688 2.688 4.032.992 4.864q0 3.936-2.208 7.136l6.112 6.112q.672.672.672 1.632z"></path></svg> Search
        </a>
        <a class="navbar-brand" href="https://www.lib.umn.edu">
          <img alt="U of M Libraries home" src="//www.lib.umn.edu/brand/1.6.4/ui/img/UMLibraries.svg">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown mega-dropdown">
            <a aria-controls="location-menu" aria-expanded="false" aria-haspopup="true" aria-owns="location-menu" class="dropdown-toggle" data-toggle="dropdown" href="https://www.lib.umn.edu/about/collections" id="location-label" role="button"> At the Library <i class="caret"></i> </a>
            <ul aria-labelledby="location-label" class="dropdown-menu mega-dropdown-menu row" id="location-menu" role="group">
              <li class="col-md-3 col-divide">
                <h3> Spaces </h3>
                <ul>
                  <li>
                    <a href="https://www.lib.umn.edu/services/reservespace"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Reserve a Room </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/smart"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> SMART Learning Commons </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/services/access-lib"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Disability Access </a>
                  </li>
                </ul>
                <h3> Technology </h3>
                <ul>
                  <li>
                    <a href="https://www.lib.umn.edu/services/computers#computers"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Computers </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/services/computers#printandphoto"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Printing &amp; Scanning </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/media/equipment/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Media Equipment </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/pim/citation/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Citation Managers </a>
                  </li>
                </ul>
              </li>
              <li class="col-md-3">
                <h3> East Bank </h3>
                <ul>
                  <li>
                    <a href="https://www.lib.umn.edu/walter"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Walter Library (Science &amp; Engineering) </a>
                  </li>
                  <li>
                    <a href="https://hsl.lib.umn.edu/biomed"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Bio-Medical Library </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/architecture"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Architecture &amp; Landscape Architecture Library </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/journalism"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Journalism Library (Eric Sevareid)</a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/math"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Mathematics Library </a>
                  </li>
                </ul>
              </li><li class="col-md-3">
                <h3> West Bank </h3>
                <ul>
                  <li>
                    <a href="https://www.lib.umn.edu/wilson"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Wilson Library </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/andersen"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Elmer L. Andersen Library </a>
                  </li>
                  <li>
                    <a href="https://www.law.umn.edu/library"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Law Library </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/music"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Music Library </a>
                  </li>
                </ul>
              </li>
              <li class="col-md-3">
                <h3> St. Paul </h3>
                <ul>
                  <li>
                    <a href="https://www.lib.umn.edu/magrath"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Magrath Library</a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/ahl"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Andersen Horticultural Library (off campus) </a>
                  </li>
                  <li>
                    <a href="https://www.lib.umn.edu/naturalresources"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Natural Resources Library </a>
                  </li>
                  <li>
                    <a href="https://hsl.lib.umn.edu/vetmed"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Veterinary Medical Library</a>
                  </li>
                  <li>
                    <a class="btn btn-umn-ghost" href="https://www.lib.umn.edu/about/collections" style="width:100%;"> All Libraries &amp; Collections </a>
                  </li>
                </ul>
              </li>

          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a aria-controls="research-menu" aria-expanded="false" aria-haspopup="true" aria-owns="research-menu" class="dropdown-toggle" data-toggle="dropdown" href="https://www.lib.umn.edu/services" id="research-label" role="button"> Research <i class="caret"></i>
          </a>
          <ul aria-labelledby="research-label" class="dropdown-menu mega-dropdown-menu row" id="research-menu" role="group">
            <li class="col-md-4 col-divide">
              <ul>
                <li>
                  <a href="http://primo.lib.umn.edu/primo_library/libweb/action/search.do?vid=TWINCITIES"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> MNCAT Discovery <br> <small> Libraries Catalog + articles </small> </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="https://www.lib.umn.edu/subjects/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Research Guides by Subject <br> <small> Librarian-recommended resources </small> </a>
                </li>
                <li class="divider"></li>
                <li class="row row-buttons">
                  <div class="btn-group">
                    <a class="btn btn-umn-gold" href="https://www.lib.umn.edu/indexes/a"> All Databases </a>
                    <a class="btn btn-umn-gold" href="http://primo.lib.umn.edu/primo_library/libweb/action/dlSearch.do?institution=TWINCITIES&amp;vid=TWINCITIES&amp;azSearch=true&amp;fn=almaAzSearch&amp;query=facet_atoz"> All Journals </a>
                    <a class="btn btn-umn-gold" href="https://www.lib.umn.edu/services/reserves"> Course Reserves </a>
                  </div>
                </li>
                <li class="divider"></li>
              </ul>
              <h3> Services For... </h3>
              <ul class="col-2">
                <li>
                  <a href="https://www.lib.umn.edu/services/undergraduates"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Undergraduates </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/grads"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Graduates </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/faculty"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Faculty &amp; Instructors </a>
                </li>
                <li>
                  <a href="http://umnalumni.org/membership/member-rewards/University-Libraries"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Alumni </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/staff"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> University Staff </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/visitors"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Visitors </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4 col-divide">
              <h3> Extend Your Search </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/special"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Archives &amp; Special Collections <br> <small> Unique collections of books, manuscripts, &amp; artifacts </small> </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="http://conservancy.umn.edu/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> University Digital Conservancy <br> <small> U of M-created content </small> </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="http://umedia.lib.umn.edu/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> UMedia <br> <small> Primary source images, audiovisuals, &amp; text </small> </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="http://archives.lib.umn.edu"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Archival Collection Guides <br> <small> Search archival records, personal papers, &amp; manuscripts </small> </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="https://www.lib.umn.edu/interlibraryloan"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Interlibrary Loan (ILL) <br> <small> Borrow materials from non-U of M Libraries world-wide </small> </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4">
              <h3> Researcher Support </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/datamanagement"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Data Management </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/digital/dash"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Digital Arts Sciences &amp; Humanities (DASH) </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu//about/experts"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Experts@Minnesota </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/researchsupport"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> All Researcher Support Services</a>
                </li>
              </ul>
              <h3> Publishing </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/publishing"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Getting Published </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/copyright"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Copyright </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a aria-controls="using-menu" aria-expanded="false" aria-haspopup="true" aria-owns="using-menu" class="dropdown-toggle" data-toggle="dropdown" href="https://www.lib.umn.edu/help" id="using-label" role="button"> Help <i class="caret"></i> </a>
          <ul aria-labelledby="using-label" class="dropdown-menu mega-dropdown-menu row" id="using-menu" role="group">
            <li class="col-md-4 col-divide">
              <h3> Getting Started </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/howto/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> How to Find by Format </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/instruction/tutorials"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Tutorials &amp; Guides </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/workshops/registration"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Workshops </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4 col-divide">
              <h3> One on One </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/about/selectors"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Librarians by Subject </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/prc"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Peer Research Consultants </a>
                </li>
                <li>
                  <a href="https://docs.google.com/a/umn.edu/forms/d/e/1FAIpQLScBdqhb16ISFeJxIFCoiyhZMjlP_31PkU8XNeDW9QXf1GZPJQ/viewform"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Request a Librarian Consultation </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4">
              <h3> Contact Us </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/help"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Chat Online
                    <svg class="glyph glyph-link-ext" viewBox="0 0 32 32"><title>External link</title><desc>A box with an arrow pointing out of the top right corner</desc><path d="M25.152 16.576v5.696q0 2.144-1.504 3.648T20 27.424H5.152q-2.144 0-3.648-1.504T0 22.272V7.424q0-2.112 1.504-3.616t3.648-1.536h12.576q.224 0 .384.16t.16.416V4q0 .256-.16.416t-.384.16H5.152q-1.184 0-2.016.832t-.864 2.016v14.848q0 1.184.864 2.016t2.016.864H20q1.184 0 2.016-.864t.832-2.016v-5.696q0-.256.16-.416t.416-.16h1.152q.256 0 .416.16t.16.416zM32 1.152v9.12q0 .48-.352.832t-.8.32-.8-.32l-3.136-3.168-11.648 11.648q-.16.192-.416.192t-.416-.192l-2.016-2.016q-.192-.192-.192-.416t.192-.416L24.064 5.088l-3.168-3.136q-.32-.352-.32-.8t.32-.8.832-.352h9.12q.48 0 .8.352t.352.8z"></path></svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/contact"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Email Us </a>
                </li>
                <li>
                  <a href="tel:+16126243321"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Call Us: +1-612-625-3321 </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown mega-dropdown">
          <a aria-controls="help-menu" aria-expanded="false" aria-haspopup="true" aria-owns="help-menu" class="dropdown-toggle" data-toggle="dropdown" href="https://www.lib.umn.edu/help" id="help-label" role="button"> About <i class="caret"></i> </a>
          <ul aria-labelledby="help-label" class="dropdown-menu mega-dropdown-menu row" id="help-menu" role="group">
            <li class="col-md-4 col-divide">
              <h3> Policies &amp; Using the Library </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/services/borrowing"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Borrowing Materials </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/renewingmaterials"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Renewals </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/services/fines"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Fines </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/fooddrink"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Food &amp; Drink </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/privacy"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Online Privacy Statement </a>
                </li>
                <li>
                  <a class="btn btn-umn-ghost" href="https://www.lib.umn.edu/about/policies"> All Policies </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4 col-divide">
              <h3> Overview </h3>
              <ul>
                <li>
                  <a href="https://www.lib.umn.edu/about/"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> About Us </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/goals"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Strategic Plan </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/employment"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Jobs </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/partnerships"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Partnerships &amp; Grants </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/staff"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> Staff Directory </a>
                </li>
                <li>
                  <a href="https://www.lib.umn.edu/about/newsroom"> <svg class="glyph glyph-angle-circled-right" viewBox="0 0 27 32"><title>Angle circled right</title><desc>Circle with right angle like arrow</desc><path d="M12.8 24.896l8.096-8.096q.352-.352.352-.8t-.352-.8L12.8 7.104q-.32-.352-.8-.352t-.8.352L9.376 8.896q-.352.352-.352.832t.352.8L14.848 16l-5.472 5.472q-.352.352-.352.8t.352.832l1.824 1.792q.352.352.8.352t.8-.352zM27.424 16q0 3.744-1.824 6.88t-4.992 4.992-6.88 1.856-6.912-1.856-4.96-4.992T0 16t1.856-6.88 4.96-4.992 6.912-1.856 6.88 1.856T25.6 9.12 27.424 16z"></path></svg> News </a>
                </li>
              </ul>
            </li>
            <li class="col-md-4">
              <div class="well"> The Libraries welcomes learners and scholars from all cultures and backgrounds.
                <ul>
                  <li>We are committed to providing a safe, open environment, and the broadest possible access to quality information.</li>
                  <li>We do not tolerate disruptive behavior, harassment, and hateful acts.</li>
                  <li>We are open to all and to all points of view.</li>
                  <li>We strive to reflect our community by embracing the diversity of people and ideas.</li>
                </ul> We are here to assist you. Please do not hesitate to ask for our help.
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <div id="site-name">
    <h2><a href="/">UMedia</a></h2>
  </div>
  </div>
  </nav>
  </header>