<div id="item-attachment">
  <embed src="<%= "https://cdm16022.contentdm.oclc.org/utils/getfile/collection/#{collection}/id/#{id}/filename/#{attachment}" %>"
  width="800" height="1000"
  type="application/pdf"
  >
</div>




