
<%= render 'searches/pager', pager: @pager, search_params: @home_params,  prev_next_pos: 'first' %>


<div data-controller="home"
     data-home-collections_page="<%= params.fetch('page', 1) %>"
     data-home-collections_sort="<%= params.fetch('sort', 'set_spec desc') %>"
     id="home-controller-data">
</div>

<div id="collections-home"></div>