<% if item.field_transcription.value %>
  <div class="transcription">
    <h3 class="title"><%= item.field_title.value %></h3>
    <div><%= sanitize(item.field_transcription.value) %></div>
  </div>
<% end %>