<div class="card-panel panel panel-default">
  <div class="panel-heading"><%= link_to doc.field_title.value,  search_path(doc.id, search_params), name: doc.id %></div>
  <div class="panel-body">

  </div>
  <div class="panel-footer" class="summary"></div>
</div>