<span class="pager-info">
  <% if pager.result_count.positive? %>
    <span class="pager-info-number">
      <%= pager.start_page %>
    </span>
    -
    <span class="pager-info-number">
      <%= pager.end_page %>
    </span>
    of
  <% end %>
  <span class="pager-info-number">
    <%= pager.result_count %>
  </span>
   <%= pager.result_count == 1 ? 'result' : 'results' %>
</span>