<span class="pager-info">
  <span class="pager-info-number">
    <%= pager.active_page %>
  </span>
  -
  <span class="pager-info-number">
    <%= pager.active_page * pager.rows %>
  </span>
  of
  <span class="pager-info-number">
    <%= pager.result_count %>
  </span>
   results
</span>