<div id="sort-dropdown" class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <%= (params[:rows]) ? sanitize(params[:rows]) : 20 %> per page<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% per_pages.map do |rows| %>
      <% if result_count > rows%>
        <li><%= link_to rows,  query(search_params).merge(rows: rows) %></li>
      <% end %>
    <% end %>
  </ul>
</div>