  <div class="card-panel panel panel-default">
    <% #= link_to "File: #{card.file_name}",  search_path(card.id, @search_params), name: card.id %>
    <div class="panel-heading"><%= link_to doc['title'],  search_path(doc['id'], search_params), name: doc['id'] %></div>
    <div class="panel-body">

    </div>
    <div class="panel-footer" class="summary"></div>
  </div>