<div class="citation hide">
  <h3>MLA Format</h3>
  <%= raw Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::MLA.mappings, doc: item).to_s %>

  <h3>Chicago/Turabian Format</h3>
  <%= raw Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::Chicago.mappings, doc: item).to_s %>

  <h3>Wikipedia Format</h3>
  <%= Umedia::Citation::Cite.new(mappings: Umedia::Citation::Styles::Wikipedia.mappings, doc: item).to_s %>
</div>