<% if !@mlt_items.empty? %>
  <div class="mlt">
    <h2 class="h3">Related Items</h2>
    <ul class="mlt-list">
      <% @mlt_items.each do |mlt_item| %>
        <%= render 'mlt', item: mlt_item %>
      <% end %>
    </ul>
  </div>
<% end %>