<div id="sidebar">
  <%= form_with url: '/child_search', class: 'child-search', method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :q,
          id: :q,
          value: params[:query],
          class: 'form-control',
          placeholder: 'Search Pages For...',
          'data-target': 'viewer.searchText',
          'data-action': 'onkeypress->viewer#returnSearch'
          %>
      <span class="input-group-btn">
        <%= f.button 'Search', class: 'btn btn-info', 'data-action': 'click->viewer#search' %>
      </span>
    </div>
  <% end %>

  <div class="col-md-12 sidebar-pages-and-slider">

    <% if sidebar.display_num? %>
      <input type="text" id="sidebar-page-num" readonly>
    <% end %>

    <div class="col-md-2 sidebar-slider-horizontal">
      <div id="sidebar-slider-horizontal"></div>
    </div>

    <div class="col-md-10">
      <div class="list-group" id="sidebar-pages">
      </div>
    </div>

    <div class="col-md-2 sidebar-slider-vertical">
      <div id="sidebar-slider-vertical"></div>
    </div>

  </div>
</div>