<div data-controller="viewer"
     data-viewer-id="<%= params['id'] %>"
     data-viewer-child_id="<%= params['child_id'] %>"
     data-viewer-url="/viewers">
    <% if !children.empty? %>
      <div id="viewer-display" class="col-md-9"></div>
      <div id="viewer-sidebar" class="col-md-3">
        <%= render 'sidebar', children: children, item: item %>
      </div>
    <% else %>
      <div id="viewer-display" class="col-md-12"></div>
    <% end %>
</div>

<% if children.empty? && item.type == 'Still Image'%>
  <div class="single-item-download pull-right">
    <%= render 'child_searches/download', download: download_config(item) %>
  </div>
<% end %>