<div class="back-to-search">
  <%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> back to search'), item.link_params(search_params) %>
</div>

<h1><%= item.page_title %></h1>

<%= render 'viewer' %>