<h1>About UMedia</h1>

The UMedia Archive seeks to implement a new system for the management and delivery of digital objects and rich media. By leveraging open-source technologies, the Libraries provides for a new user experience to the campus community, incorporating a strong repository model alongside an enhanced web interface.

Managing and delivering content in this new system will be done in two ways:

<ul>
  <li>Curatorial – Allows University content managers a method for cataloging and providing access to digital collections</li>
  <li>User-managed<li>
</ul>