// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-record-citation {
  margin-top: 15px;
  .dl-horizontal dt {
    width: 200px;
  }
  .dl-horizontal dd {
    margin-left: 210px;
  }
}

ul.image-download {
  list-style: none;
  margin: 5px 0 15px 0;
  padding: 0;
  .glyphicon-download {
    font-size: 1.2em;
  }
}

.item-details {
  margin-top: 25px;
}

#viewer-display {
  margin-bottom: 15px;
}

.item-metadata .nav a:hover {
  color: #5B557B;
}

.single-item-download {
  clear: both;
  font-size: 2em;
  margin-right: 10px;
}


.field-collection-name {
  font-size: 1.2em;
}
.details-collections-fields {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  clear: both;
}