// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-details {
  margin-top: 25px;
}

#viewer-display {
  margin-bottom: 15px;
}

.item-metadata .nav a:hover {
  color: #5B557B;
}