// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-record-citation {
  margin-top: 15px;
  .dl-horizontal dt {
    width: 200px;
  }
  .dl-horizontal dd {
    margin-left: 210px;
  }
}

ul.image-download {
  list-style: none;
  margin: 5px 0 15px 0;
  padding: 0;
  .glyphicon-download {
    font-size: 1.2em;
    color: #4b0918;
  }
}

.item-details {
  margin-top: 25px;
}

#viewer-display {
  margin-bottom: 15px;
}

.item-metadata .nav a:hover {
  color: #5b557b;
}

.single-item-download {
  clear: both;
  font-size: 2em;
  margin-right: 10px;
}

.details-collections-fields {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  clear: both;
  background-image: url(asset_path('dust_scratches.png'));
  margin: 125px 0 50px;
}

.rights-image {
  max-width: 200px;
}

dd.rights-field {
  margin: 15px 0 15px;
}

.mlt {
  clear: both;
  margin-bottom: 15px;
  h2 {
    margin-left: 15px;
  }
}

.mlt ul > * {
  vertical-align: top;
}

.mlt-list {
  a {
    border: 1px solid #fff;
    display: block;
    background-image: url(asset_path('dust_scratches.png'));
    height: 200px;
  }
  a:hover {
    border: 1px solid #ddd;
  }

  width: 100%;
  ul > * {
    vertical-align: top;
  }
  vertical-align: top;
  h3 {
    margin: 10px;
    font-size: 1em;
  }
  li {
    display: inline-block;
    width: 160px;
    margin: 5px;
    text-align: center;
    list-style: none;
  }
  img {
    margin: 10px;
    max-width: 140px;
  }
}

.viewer-data {
  border-bottom: 1px solid #ccc;
}

.iiif-help-link {
  margin-bottom: 10px;
}
