.pager-info-number {
  font-weight: bold;
}

.search-breadcrumbs {
  .facet-count {
    display: none;
  }
  .filterName {
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  padding: 15px;
  background-color: #ecedf0;
  border-color: #d3d4d7;
  margin: 10px 0 20px;
}

.filterName:after {
  font-family: "Glyphicons Halflings";
  content: "\e080";
  font-size: 70%;
  padding-left: 4px;
  color: #777777;
}

.remove-crumb.btn-default:hover {
  .glyphicon-remove {
    color: white;
  }
  background-color: #7a0019;
  border-color: #7a0019;
}

#sort-dropdown,
#per-page-dropdown {
  margin-top: 20px;
}

.icon-json,
.icon-iiif {
  font-size: 3em;
}

.facets-toggle {
  margin-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  #search-facets {
    .collapse {
      display: block !important;
    }
    .facets-toggle {
      display: none;
    }
  }
}

@media only screen and (max-width: 475px) {
  .constraint-value {
    display: block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 400px) {
  .constraint-value {
    display: block;
    max-width: 200px;
  }
}

@media only screen and (max-width: 350px) {
  .constraint-value {
    display: block;
    max-width: 150px;
  }
}

.search-breadcrumbs {
  .btn {
    margin-right: 0;
    border-radius: 0;
  }

  .constraint-value {
    margin-right: -5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .remove-crumb {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.search-result-item-title {
  font-size: 1.5em;
}
