// Umedia overides of UMNLib Styles
.umedia {
  .navbar-brand {
    margin-top: 15px;
  }

  .navbar {
    border-radius: 0;
  }

  #logo {
    display: inline-block;
    float: left;
    width: auto !important;

    // FIXME
    margin-top: -25px;
    bottom: 16px;
  }

  @media (max-width: 768px) {
    .nav.navbar-nav {
      background-color: inherit;
      margin: 5px;
      a {
      color: #ffffff;
      }
    }
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

// TODO: Figure out how to properly override this style
.btn-umn-maroon {
  color: #ffffff !important;

}

.search-btn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.umedia {
  .pagination > .active > a,
  .nav.umn-nav-pills > .active > a  {
    background-color: #7a0019;
    border-color: #7a0019;
  }
  .pagination > .active > a:hover,
  .nav.umn-nav-pills > li > a:hover,
  .nav.umn-nav-pills > li.active > a:hover {
    background-color: #47000f;
    border-color: #0a0002;
    color: #ffffff;
  }
}

.citation {
  margin-bottom: 300px;
}

// HEADER

#blockm {
  bottom: 40px;
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
header .navbar-brand img {
    height: 32px;
}

#application {
    margin: 0 auto;
    border: none;
    font-size: 22pt;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
}

#application a, #application a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3, h4 {
    text-transform: none;
}
h1, h6 {
    text-transform: uppercase;
}
h1, .brand {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -1px;
}


#libraries {
    margin: 0 auto;
    font-size: 14pt;
    letter-spacing: 2px;
}

h2#libraries a, h3.from-our-collections {
  text-transform: uppercase;
}
#libraries a, #libraries a:hover {
  color: #ffcc33 !important;
  text-decoration: none;
}

@media (min-width: 768px) {
  #branding {
      right: 4px;
      bottom: 16px;
  }
}
#branding {
    display: inline-block;
    position: relative;
    right: 4px;
    bottom: 26px;
    left: 8px;
}


#search-browse {
  border-radius: 6px;
  margin-left: 20px;
}
