// Place all the styles related to the viewers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.downloads-list {
  list-style: none;
}

$viewer-height: 800px;
$sidebar-height: 1000px;

.osd {
  position: relative;
  background-color: black;
}

#osd-viewer {
  height: $viewer-height;
}

#sidebar-slider-vertical {
  height: 662px;
  margin: 6px 0 10px;
}

.sidebar-pages-and-slider {
  margin-top: 15px;
}

#sidebar-page-num {
  border: 0;
  color: #f6931f;
  font-weight:bold;
  display: inline-block;
}

#child-search-record-count {
  display: none;
}

.osd-toolbar {
  padding:0;
  position: absolute;
  top: 0;
}

.osd-toolbar li {
  display: inline-block;
}

.osd-toolbar > li {
  list-style:none;
}
.osd-toolbar a {
  z-index: 1;
  width:30px;
  height:30px;
  font-height:30px;
  background:rgba(0,0,0,.6);
  color:#fff;
  margin-right:1px;
  cursor:pointer;
  text-align:center
}

.osd-toolbar a:hover {
  background: rgba(158, 46, 0, 0.6); text-decoration:none
}

.osd-toolbar a > i {
  width:30px;
  height:30px;
  line-height:30px;
  font-size:15px;
  padding-top:2px
}

#sidebar {
  overflow: hidden;
  overflow-y: hidden;
}

.child-searches {
  margin-bottom: 650px;
  width: 230px;
  padding-right: 15px;
}

.ui-slider-vertical .ui-slider-handle {
  height: 3em !important;
}

.sidebar-scroll {
  height: 700px;
  padding-right: 15px;
  overflow-y: scroll;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 20px;
  padding-right: 100px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  border-right:1px solid rgba(0,0,0,.2);
  width: 15px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background:  #B9B9B9;
  border-radius: 10px;
  border-right:2px solid rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  height: 2em;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#sidebar-pages {
  .sidebar-thumbnail {
    text-align: center;
  }
  .thumbnail {
    display: inline;
  }
  overflow-y: auto;
  em {
    font-weight: bold;
  }
  .no-results {
    margin-top: 75px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
}

.highlight {
  .highlight-label {
    font-weight: bold;
  }
}

form.child-search {
  margin-bottom: 5px;
}

.kaltura-video-player,
.kaltura-compound-player, {
  height: 500px;
}

.clear-search {
  text-align: center;
  padding: 15px;
  a {
    background-color: #337ab7;
  }
}

.start-over {
  margin: 5px 0 5px;
}

.loader {
  overflow: hidden;
  margin-top: 25px;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #79071F;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// MOBILE

.sidebar-slider-horizontal {
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .sidebar-slider-vertical,
  .item-metadata-large {
    display: none;
  }
}

@media (min-width: 992px) {
  .sidebar-slider-horizontal,
  .item-metadata-small {
    display: none;
  }
}

#item-attachment {
  margin-top: 15px;
}

#item-attachment {
  background: transparent image-url("spinner.gif")  no-repeat top center;
}

#metadata-area .osd {
  margin-top: 15px;
}