<ul class="image-download">
  <li class="dropdown">
    <a class="dropdown-toggle" id="image-download-dropdown" role="button" alt="download image" title="download image" href="#"
       data-action="viewer#toggleDownload"
       data-is_open="false"
       data-child_id="<%= id %>"> <span class="glyphicon glyphicon-download"></span></b>
          <span class="hidden">Display Downloads</span>
       </a>
       <span id="downloads-toggle-<%= id %>"></span>
  </li>
</ul>