<% clear_active = (params[:q] && params[:q] != '') ? '' : 'hidden' %>
<div class="clear-search <%= clear_active %>">
  <%= link_to 'Clear Search', item_path(id: params[:id], child_id:params[:active_child_id], child_index: params[:child_index]), class: 'btn btn-primary', role: 'button' %>
</div>

<span id="child-search-record-count"><%= num_found %></span>

<% if children.items.results.length > 0 %>
  <%= raw pages %>
<% else %>
 <div class="no-results">No Results</div>
<% end %>