<% if item.field_collection_description.value %>
  <div class="details-collections-fields">
    <div class="field-collection-name">
      <%= render 'searches/field_value', value: item.field_collection_name.value, facet_field: 'collection_name_s' %>
    </div>

      <% if item.field_collection_description.value %>
        <div class="field-collection-name">
          <%= raw collection_description(item) %>
        </div>
      <% end %>
  </div>
<% end %>