<% if !values.empty? %>
  <%= raw "<h3>#{I18n.t("item.field_sections.#{label}", locale: locale)}</h3>" if label %>
  <dl class="item-metadata col-md-12">
  <% values.map do |field| %>
    <%= render 'field', facet_field: (field.facet && field.locale == I18n.default_locale), value: field.value, name: field.universal_name, field_locale: field.locale %>
  <% end %>
  </dl>
<% end %>
